@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using HuaMoney.ViewModel.Bank
@model BankIndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        @foreach (var bank in Model.bankList)
        {
            <li>
                <h3>@bank.Name</h3>
                <p>@bank.Country</p>
            </li>
        }
    </ul>
</div>
