@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using HuaMoney.ViewModel.Bank
@model BankIndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        @foreach (var bank in Model.bankList)
        {
            <li>
                <h3>@bank.Name</h3>
                <p>@bank.Country</p>
            </li>
        }
    </ul>
</div>
